.box {
    background: white;
    border: black 1px solid;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 0;
    cursor: pointer;
    display: inline-block;
    float: left;
}

.row {
    display: block;
    float:left;
    width:100%;
}

body{
    background-image: url(Content/pencils.jpg);
}

#title{
        text-align: center;
        color: turquoise;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#boxParent {
    width: 800px;
    margin-left: 500px;
    margin-right: auto;
}

#btnDiv {
    width: 100px;
    height:20px;
    margin-left: auto;
    margin-right: auto;
}

#btn {
	background:linear-gradient(to bottom, #1152c2 5%, #042145 100%);
	background-color:#1152c2;
	border-radius:28px;
	border:1px solid #404ea6;
	display:inline-block;
	cursor:pointer;
	color:#f0e2f0;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    text-shadow:0px 1px 0px #1843ad;
    margin-left:600px;
    margin-top:100px;
}
#btn:hover {
	background:linear-gradient(to bottom, #042145 5%, #1152c2 100%);
	background-color:#042145;
}
#btn:active {
	position:relative;
	top:1px;
}

#pColor{
    margin-left:1250px;
}